@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
@import "tailwindcss";

body {
  font-family: "Karla", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "DM Serif Display", serif;
}

p {
  font-size: 16px;
  color: hsl(273, 4%, 51%);
}
